/*
LifePlus Healthcare Platform API

# LifePlus Healthcare Platform API  Enterprise-grade healthcare platform API for partner integration and third-party developers.  ## Platform Capabilities  ### Healthcare Services - **Telemedicine**: Video consultations with licensed doctors - **Appointments**: In-person doctor appointments at hospitals - **Diagnostics**: Lab tests and diagnostic services - **Home Sample Collection**: At-home diagnostic sample collection - **Ambulance**: Emergency ambulance booking - **Home Care**: Nursing and home care services  ### E-Commerce - **Pharmacy**: Medicine ordering and delivery - **Lifestyle Products**: Health supplements, medical devices - **Shopping Cart**: Multi-vendor cart management - **Order Fulfillment**: Complete order lifecycle management  ### Insurance & Packages - **Health Packages**: Subscription-based healthcare bundles - **Health Cards**: Membership cards with benefits - **Insurance Policies**: Policy browsing and purchase - **Claims Management**: Insurance claim processing  ## Architecture Overview  This API follows **domain-driven design** with clear separation of concerns:  ### Microservices Layer - **Auth Service**: JWT-based authentication and authorization - **User Service**: User profiles and beneficiary management - **Order Service**: Unified order processing for all order types - **Healthcare Service**: Medical services orchestration - **Product Service**: Catalog and inventory management - **Payment Service**: Payment gateway integration - **Notification Service**: SMS, email, push notifications  ### Service Layer (Business Logic) - Video call session management (Agora integration) - Doctor availability and slot booking - Package benefit calculation and tracking - Promo code validation and discount application - Corporate package enrollment  ### Integration Layer (Packages/SDKs) - **Go SDK**: High-performance SDK for Go applications - **PHP Laravel SDK**: Native Laravel package for PHP apps - **TypeScript SDK**: Modern TypeScript client with types  ### External Plugins - **SSL Commerz**: Payment gateway for Bangladesh - **Agora.io**: Real-time video/audio communication - **Firebase**: Push notifications - **AWS S3**: File storage  ## API Standards  ### REST Principles - **Resource-Based URIs**: Use plural nouns (`/orders`, `/users`, `/appointments`) - **HTTP Verbs**: GET (read), POST (create), PATCH (update), DELETE (remove) - **Stateless**: Each request contains all necessary information - **HATEOAS**: Include links to related resources when applicable  ### Naming Conventions - ✅ **Correct**: `/orders`, `/appointments`, `/products` - ❌ **Incorrect**: `/product-orders`, `/get-orders`, `/createAppointment`  ### Response Format All responses follow a consistent structure: ```json {   \"success\": true,   \"message\": \"Operation completed successfully\",   \"data\": { ... },   \"meta\": { \"pagination\": {...} } } ```  ### Error Handling Errors follow RFC 7807 Problem Details: ```json {   \"success\": false,   \"message\": \"Validation failed\",   \"code\": 422,   \"errors\": {     \"email\": [\"The email field is required\"],     \"phone\": [\"The phone format is invalid\"]   } } ```  ### Pagination List endpoints support consistent pagination: - `page`: Current page number (default: 1) - `per_page`: Items per page (default: 15, max: 100) - `sort`: Field to sort by (default: created_at) - `order`: Sort direction (asc/desc, default: desc) - `q`: Search query  ### Authentication Most endpoints require JWT Bearer authentication: ``` Authorization: Bearer <your_jwt_token> ```  Obtain a token by calling `POST /sessions` with valid credentials.  ### Rate Limiting - **Standard**: 60 requests/minute per IP - **Authenticated**: 120 requests/minute per user - **Partner API**: Custom limits based on agreement  ### Versioning - API version is in the URL: `/api/v1` - Breaking changes will result in new version: `/api/v2` - Old versions supported for 12 months after deprecation notice  ## SDK Usage  ### Go SDK ```go import \"github.com/LifeplusBangladesh/lifeplus-go-sdk\"  client := lifeplus.NewClient(\"your-api-key\") products, err := client.Products.List(context.Background(), &lifeplus.ProductListOptions{     Page: 1,     PerPage: 20, }) ```  ### PHP Laravel SDK ```php use LifePlus\\SDK\\LifePlusClient;  $client = new LifePlusClient(env('LIFEPLUS_API_KEY')); $products = $client->products()->list(['per_page' => 20]); ```  ### TypeScript SDK ```typescript import { LifePlusClient } from '@lifeplus/sdk';  const client = new LifePlusClient({ apiKey: 'your-api-key' }); const products = await client.products.list({ perPage: 20 }); ``` 

API version: 2.0.0
Contact: mamun@lifeplusbd.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package lifeplusapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type PartnerAuthenticationAPI interface {

	/*
	PartnersApiKeysGet List Partner API Keys

	Retrieve all API keys for a specific partner

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPartnersApiKeysGetRequest
	*/
	PartnersApiKeysGet(ctx context.Context) ApiPartnersApiKeysGetRequest

	// PartnersApiKeysGetExecute executes the request
	//  @return PartnerApiKeyList
	PartnersApiKeysGetExecute(r ApiPartnersApiKeysGetRequest) (*PartnerApiKeyList, *http.Response, error)

	/*
	PartnersApiKeysKeyIdDelete Revoke API Key

	Permanently revoke an API key (cannot be undone)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param keyId
	@return ApiPartnersApiKeysKeyIdDeleteRequest
	*/
	PartnersApiKeysKeyIdDelete(ctx context.Context, keyId string) ApiPartnersApiKeysKeyIdDeleteRequest

	// PartnersApiKeysKeyIdDeleteExecute executes the request
	PartnersApiKeysKeyIdDeleteExecute(r ApiPartnersApiKeysKeyIdDeleteRequest) (*http.Response, error)

	/*
	PartnersApiKeysKeyIdGet Get API Key Details

	Retrieve details of a specific API key (actual key is masked)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param keyId The API key ID
	@return ApiPartnersApiKeysKeyIdGetRequest
	*/
	PartnersApiKeysKeyIdGet(ctx context.Context, keyId string) ApiPartnersApiKeysKeyIdGetRequest

	// PartnersApiKeysKeyIdGetExecute executes the request
	//  @return PartnerApiKey
	PartnersApiKeysKeyIdGetExecute(r ApiPartnersApiKeysKeyIdGetRequest) (*PartnerApiKey, *http.Response, error)

	/*
	PartnersApiKeysKeyIdPatch Update API Key

	Update properties of an API key (cannot change the key itself)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param keyId
	@return ApiPartnersApiKeysKeyIdPatchRequest
	*/
	PartnersApiKeysKeyIdPatch(ctx context.Context, keyId string) ApiPartnersApiKeysKeyIdPatchRequest

	// PartnersApiKeysKeyIdPatchExecute executes the request
	//  @return PartnerApiKey
	PartnersApiKeysKeyIdPatchExecute(r ApiPartnersApiKeysKeyIdPatchRequest) (*PartnerApiKey, *http.Response, error)

	/*
	PartnersApiKeysKeyIdPost Rotate API Key (via action param)

	Generate a new API key and revoke the old one

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param keyId
	@return ApiPartnersApiKeysKeyIdPostRequest
	*/
	PartnersApiKeysKeyIdPost(ctx context.Context, keyId string) ApiPartnersApiKeysKeyIdPostRequest

	// PartnersApiKeysKeyIdPostExecute executes the request
	//  @return PartnerApiKeyCreation
	PartnersApiKeysKeyIdPostExecute(r ApiPartnersApiKeysKeyIdPostRequest) (*PartnerApiKeyCreation, *http.Response, error)

	/*
	PartnersApiKeysPost Create or Validate API Key

	Double-duty endpoint for creating new Partner API keys OR validating existing ones.

**Action: Create (default)**
Creates a new API key for a partner. Requires `partnerId`, `name`, `environment` etc.

**Action: Validate (`?action=validate`)**
Validates an API key internally. Requires `apiKey`, `endpoint`, `method`.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPartnersApiKeysPostRequest
	*/
	PartnersApiKeysPost(ctx context.Context) ApiPartnersApiKeysPostRequest

	// PartnersApiKeysPostExecute executes the request
	//  @return ApiKeyValidation
	PartnersApiKeysPostExecute(r ApiPartnersApiKeysPostRequest) (*ApiKeyValidation, *http.Response, error)
}

// PartnerAuthenticationAPIService PartnerAuthenticationAPI service
type PartnerAuthenticationAPIService service

type ApiPartnersApiKeysGetRequest struct {
	ctx context.Context
	ApiService PartnerAuthenticationAPI
	partnerId *int32
	environment *string
	isActive *bool
}

// Partner ID to filter API keys
func (r ApiPartnersApiKeysGetRequest) PartnerId(partnerId int32) ApiPartnersApiKeysGetRequest {
	r.partnerId = &partnerId
	return r
}

// Filter by environment
func (r ApiPartnersApiKeysGetRequest) Environment(environment string) ApiPartnersApiKeysGetRequest {
	r.environment = &environment
	return r
}

// Filter by active status
func (r ApiPartnersApiKeysGetRequest) IsActive(isActive bool) ApiPartnersApiKeysGetRequest {
	r.isActive = &isActive
	return r
}

func (r ApiPartnersApiKeysGetRequest) Execute() (*PartnerApiKeyList, *http.Response, error) {
	return r.ApiService.PartnersApiKeysGetExecute(r)
}

/*
PartnersApiKeysGet List Partner API Keys

Retrieve all API keys for a specific partner

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPartnersApiKeysGetRequest
*/
func (a *PartnerAuthenticationAPIService) PartnersApiKeysGet(ctx context.Context) ApiPartnersApiKeysGetRequest {
	return ApiPartnersApiKeysGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PartnerApiKeyList
func (a *PartnerAuthenticationAPIService) PartnersApiKeysGetExecute(r ApiPartnersApiKeysGetRequest) (*PartnerApiKeyList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PartnerApiKeyList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnerAuthenticationAPIService.PartnersApiKeysGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/api-keys"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.partnerId == nil {
		return localVarReturnValue, nil, reportError("partnerId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "partnerId", r.partnerId, "", "")
	if r.environment != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "environment", r.environment, "", "")
	}
	if r.isActive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isActive", r.isActive, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPartnersApiKeysKeyIdDeleteRequest struct {
	ctx context.Context
	ApiService PartnerAuthenticationAPI
	keyId string
}

func (r ApiPartnersApiKeysKeyIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.PartnersApiKeysKeyIdDeleteExecute(r)
}

/*
PartnersApiKeysKeyIdDelete Revoke API Key

Permanently revoke an API key (cannot be undone)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param keyId
 @return ApiPartnersApiKeysKeyIdDeleteRequest
*/
func (a *PartnerAuthenticationAPIService) PartnersApiKeysKeyIdDelete(ctx context.Context, keyId string) ApiPartnersApiKeysKeyIdDeleteRequest {
	return ApiPartnersApiKeysKeyIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		keyId: keyId,
	}
}

// Execute executes the request
func (a *PartnerAuthenticationAPIService) PartnersApiKeysKeyIdDeleteExecute(r ApiPartnersApiKeysKeyIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnerAuthenticationAPIService.PartnersApiKeysKeyIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/api-keys/{keyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"keyId"+"}", url.PathEscape(parameterValueToString(r.keyId, "keyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPartnersApiKeysKeyIdGetRequest struct {
	ctx context.Context
	ApiService PartnerAuthenticationAPI
	keyId string
}

func (r ApiPartnersApiKeysKeyIdGetRequest) Execute() (*PartnerApiKey, *http.Response, error) {
	return r.ApiService.PartnersApiKeysKeyIdGetExecute(r)
}

/*
PartnersApiKeysKeyIdGet Get API Key Details

Retrieve details of a specific API key (actual key is masked)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param keyId The API key ID
 @return ApiPartnersApiKeysKeyIdGetRequest
*/
func (a *PartnerAuthenticationAPIService) PartnersApiKeysKeyIdGet(ctx context.Context, keyId string) ApiPartnersApiKeysKeyIdGetRequest {
	return ApiPartnersApiKeysKeyIdGetRequest{
		ApiService: a,
		ctx: ctx,
		keyId: keyId,
	}
}

// Execute executes the request
//  @return PartnerApiKey
func (a *PartnerAuthenticationAPIService) PartnersApiKeysKeyIdGetExecute(r ApiPartnersApiKeysKeyIdGetRequest) (*PartnerApiKey, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PartnerApiKey
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnerAuthenticationAPIService.PartnersApiKeysKeyIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/api-keys/{keyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"keyId"+"}", url.PathEscape(parameterValueToString(r.keyId, "keyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPartnersApiKeysKeyIdPatchRequest struct {
	ctx context.Context
	ApiService PartnerAuthenticationAPI
	keyId string
	apiKeyUpdate *ApiKeyUpdate
}

func (r ApiPartnersApiKeysKeyIdPatchRequest) ApiKeyUpdate(apiKeyUpdate ApiKeyUpdate) ApiPartnersApiKeysKeyIdPatchRequest {
	r.apiKeyUpdate = &apiKeyUpdate
	return r
}

func (r ApiPartnersApiKeysKeyIdPatchRequest) Execute() (*PartnerApiKey, *http.Response, error) {
	return r.ApiService.PartnersApiKeysKeyIdPatchExecute(r)
}

/*
PartnersApiKeysKeyIdPatch Update API Key

Update properties of an API key (cannot change the key itself)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param keyId
 @return ApiPartnersApiKeysKeyIdPatchRequest
*/
func (a *PartnerAuthenticationAPIService) PartnersApiKeysKeyIdPatch(ctx context.Context, keyId string) ApiPartnersApiKeysKeyIdPatchRequest {
	return ApiPartnersApiKeysKeyIdPatchRequest{
		ApiService: a,
		ctx: ctx,
		keyId: keyId,
	}
}

// Execute executes the request
//  @return PartnerApiKey
func (a *PartnerAuthenticationAPIService) PartnersApiKeysKeyIdPatchExecute(r ApiPartnersApiKeysKeyIdPatchRequest) (*PartnerApiKey, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PartnerApiKey
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnerAuthenticationAPIService.PartnersApiKeysKeyIdPatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/api-keys/{keyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"keyId"+"}", url.PathEscape(parameterValueToString(r.keyId, "keyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiKeyUpdate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPartnersApiKeysKeyIdPostRequest struct {
	ctx context.Context
	ApiService PartnerAuthenticationAPI
	keyId string
	action *string
}

// Action to perform (rotate)
func (r ApiPartnersApiKeysKeyIdPostRequest) Action(action string) ApiPartnersApiKeysKeyIdPostRequest {
	r.action = &action
	return r
}

func (r ApiPartnersApiKeysKeyIdPostRequest) Execute() (*PartnerApiKeyCreation, *http.Response, error) {
	return r.ApiService.PartnersApiKeysKeyIdPostExecute(r)
}

/*
PartnersApiKeysKeyIdPost Rotate API Key (via action param)

Generate a new API key and revoke the old one

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param keyId
 @return ApiPartnersApiKeysKeyIdPostRequest
*/
func (a *PartnerAuthenticationAPIService) PartnersApiKeysKeyIdPost(ctx context.Context, keyId string) ApiPartnersApiKeysKeyIdPostRequest {
	return ApiPartnersApiKeysKeyIdPostRequest{
		ApiService: a,
		ctx: ctx,
		keyId: keyId,
	}
}

// Execute executes the request
//  @return PartnerApiKeyCreation
func (a *PartnerAuthenticationAPIService) PartnersApiKeysKeyIdPostExecute(r ApiPartnersApiKeysKeyIdPostRequest) (*PartnerApiKeyCreation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PartnerApiKeyCreation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnerAuthenticationAPIService.PartnersApiKeysKeyIdPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/api-keys/{keyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"keyId"+"}", url.PathEscape(parameterValueToString(r.keyId, "keyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.action == nil {
		return localVarReturnValue, nil, reportError("action is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPartnersApiKeysPostRequest struct {
	ctx context.Context
	ApiService PartnerAuthenticationAPI
	apiKeyCreation *ApiKeyCreation
	action *string
}

func (r ApiPartnersApiKeysPostRequest) ApiKeyCreation(apiKeyCreation ApiKeyCreation) ApiPartnersApiKeysPostRequest {
	r.apiKeyCreation = &apiKeyCreation
	return r
}

// Action to perform. - &#x60;create&#x60;: Create a new API key (default) - &#x60;validate&#x60;: Validate an API key (internal) 
func (r ApiPartnersApiKeysPostRequest) Action(action string) ApiPartnersApiKeysPostRequest {
	r.action = &action
	return r
}

func (r ApiPartnersApiKeysPostRequest) Execute() (*ApiKeyValidation, *http.Response, error) {
	return r.ApiService.PartnersApiKeysPostExecute(r)
}

/*
PartnersApiKeysPost Create or Validate API Key

Double-duty endpoint for creating new Partner API keys OR validating existing ones.

**Action: Create (default)**
Creates a new API key for a partner. Requires `partnerId`, `name`, `environment` etc.

**Action: Validate (`?action=validate`)**
Validates an API key internally. Requires `apiKey`, `endpoint`, `method`.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPartnersApiKeysPostRequest
*/
func (a *PartnerAuthenticationAPIService) PartnersApiKeysPost(ctx context.Context) ApiPartnersApiKeysPostRequest {
	return ApiPartnersApiKeysPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiKeyValidation
func (a *PartnerAuthenticationAPIService) PartnersApiKeysPostExecute(r ApiPartnersApiKeysPostRequest) (*ApiKeyValidation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiKeyValidation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnerAuthenticationAPIService.PartnersApiKeysPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/api-keys"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.apiKeyCreation == nil {
		return localVarReturnValue, nil, reportError("apiKeyCreation is required and must be specified")
	}

	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "", "")
	} else {
		var defaultValue string = "create"
		r.action = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiKeyCreation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
