/*
LifePlus Healthcare Platform API

# LifePlus Healthcare Platform API  Enterprise-grade healthcare platform API for partner integration and third-party developers.  ## Platform Capabilities  ### Healthcare Services - **Telemedicine**: Video consultations with licensed doctors - **Appointments**: In-person doctor appointments at hospitals - **Diagnostics**: Lab tests and diagnostic services - **Home Sample Collection**: At-home diagnostic sample collection - **Ambulance**: Emergency ambulance booking - **Home Care**: Nursing and home care services  ### E-Commerce - **Pharmacy**: Medicine ordering and delivery - **Lifestyle Products**: Health supplements, medical devices - **Shopping Cart**: Multi-vendor cart management - **Order Fulfillment**: Complete order lifecycle management  ### Insurance & Packages - **Health Packages**: Subscription-based healthcare bundles - **Health Cards**: Membership cards with benefits - **Insurance Policies**: Policy browsing and purchase - **Claims Management**: Insurance claim processing  ## Architecture Overview  This API follows **domain-driven design** with clear separation of concerns:  ### Microservices Layer - **Auth Service**: JWT-based authentication and authorization - **User Service**: User profiles and beneficiary management - **Order Service**: Unified order processing for all order types - **Healthcare Service**: Medical services orchestration - **Product Service**: Catalog and inventory management - **Payment Service**: Payment gateway integration - **Notification Service**: SMS, email, push notifications  ### Service Layer (Business Logic) - Video call session management (Agora integration) - Doctor availability and slot booking - Package benefit calculation and tracking - Promo code validation and discount application - Corporate package enrollment  ### Integration Layer (Packages/SDKs) - **Go SDK**: High-performance SDK for Go applications - **PHP Laravel SDK**: Native Laravel package for PHP apps - **TypeScript SDK**: Modern TypeScript client with types  ### External Plugins - **SSL Commerz**: Payment gateway for Bangladesh - **Agora.io**: Real-time video/audio communication - **Firebase**: Push notifications - **AWS S3**: File storage  ## API Standards  ### REST Principles - **Resource-Based URIs**: Use plural nouns (`/orders`, `/users`, `/appointments`) - **HTTP Verbs**: GET (read), POST (create), PATCH (update), DELETE (remove) - **Stateless**: Each request contains all necessary information - **HATEOAS**: Include links to related resources when applicable  ### Naming Conventions - ✅ **Correct**: `/orders`, `/appointments`, `/products` - ❌ **Incorrect**: `/product-orders`, `/get-orders`, `/createAppointment`  ### Response Format All responses follow a consistent structure: ```json {   \"success\": true,   \"message\": \"Operation completed successfully\",   \"data\": { ... },   \"meta\": { \"pagination\": {...} } } ```  ### Error Handling Errors follow RFC 7807 Problem Details: ```json {   \"success\": false,   \"message\": \"Validation failed\",   \"code\": 422,   \"errors\": {     \"email\": [\"The email field is required\"],     \"phone\": [\"The phone format is invalid\"]   } } ```  ### Pagination List endpoints support consistent pagination: - `page`: Current page number (default: 1) - `per_page`: Items per page (default: 15, max: 100) - `sort`: Field to sort by (default: created_at) - `order`: Sort direction (asc/desc, default: desc) - `q`: Search query  ### Authentication Most endpoints require JWT Bearer authentication: ``` Authorization: Bearer <your_jwt_token> ```  Obtain a token by calling `POST /sessions` with valid credentials.  ### Rate Limiting - **Standard**: 60 requests/minute per IP - **Authenticated**: 120 requests/minute per user - **Partner API**: Custom limits based on agreement  ### Versioning - API version is in the URL: `/api/v1` - Breaking changes will result in new version: `/api/v2` - Old versions supported for 12 months after deprecation notice  ## SDK Usage  ### Go SDK ```go import \"github.com/LifeplusBangladesh/lifeplus-go-sdk\"  client := lifeplus.NewClient(\"your-api-key\") products, err := client.Products.List(context.Background(), &lifeplus.ProductListOptions{     Page: 1,     PerPage: 20, }) ```  ### PHP Laravel SDK ```php use LifePlus\\SDK\\LifePlusClient;  $client = new LifePlusClient(env('LIFEPLUS_API_KEY')); $products = $client->products()->list(['per_page' => 20]); ```  ### TypeScript SDK ```typescript import { LifePlusClient } from '@lifeplus/sdk';  const client = new LifePlusClient({ apiKey: 'your-api-key' }); const products = await client.products.list({ perPage: 20 }); ``` 

API version: 2.0.0
Contact: mamun@lifeplusbd.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package lifeplusapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type PartnersAPI interface {

	/*
	CreatePartnerOrder Create order via partner API

	Create order on behalf of partner's user for deep integrations

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreatePartnerOrderRequest
	*/
	CreatePartnerOrder(ctx context.Context) ApiCreatePartnerOrderRequest

	// CreatePartnerOrderExecute executes the request
	//  @return PartnerOrderResponseData
	CreatePartnerOrderExecute(r ApiCreatePartnerOrderRequest) (*PartnerOrderResponseData, *http.Response, error)

	/*
	CreateReferralLink Generate referral link

	Create trackable referral link for campaigns

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateReferralLinkRequest
	*/
	CreateReferralLink(ctx context.Context) ApiCreateReferralLinkRequest

	// CreateReferralLinkExecute executes the request
	//  @return ReferralLink
	CreateReferralLinkExecute(r ApiCreateReferralLinkRequest) (*ReferralLink, *http.Response, error)

	/*
	GetCommission Get commission details

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param commissionId
	@return ApiGetCommissionRequest
	*/
	GetCommission(ctx context.Context, commissionId int32) ApiGetCommissionRequest

	// GetCommissionExecute executes the request
	//  @return Commission
	GetCommissionExecute(r ApiGetCommissionRequest) (*Commission, *http.Response, error)

	/*
	GetPartnerAnalytics Get partner analytics

	Retrieve analytics data for specified time period

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetPartnerAnalyticsRequest
	*/
	GetPartnerAnalytics(ctx context.Context) ApiGetPartnerAnalyticsRequest

	// GetPartnerAnalyticsExecute executes the request
	//  @return PartnerAnalytics
	GetPartnerAnalyticsExecute(r ApiGetPartnerAnalyticsRequest) (*PartnerAnalytics, *http.Response, error)

	/*
	GetPartnerDetails Get partner details

	Get detailed information about a partner

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiGetPartnerDetailsRequest
	*/
	GetPartnerDetails(ctx context.Context, id int32) ApiGetPartnerDetailsRequest

	// GetPartnerDetailsExecute executes the request
	//  @return Partner
	GetPartnerDetailsExecute(r ApiGetPartnerDetailsRequest) (*Partner, *http.Response, error)

	/*
	GetPartnerProfile Get authenticated partner profile

	Retrieve current partner information including commission rates and statistics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetPartnerProfileRequest
	*/
	GetPartnerProfile(ctx context.Context) ApiGetPartnerProfileRequest

	// GetPartnerProfileExecute executes the request
	//  @return PartnerProfile
	GetPartnerProfileExecute(r ApiGetPartnerProfileRequest) (*PartnerProfile, *http.Response, error)

	/*
	GetPartners Search partners

	List partners (diagnostics, hospitals, discount partners)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetPartnersRequest
	*/
	GetPartners(ctx context.Context) ApiGetPartnersRequest

	// GetPartnersExecute executes the request
	//  @return []Partner
	GetPartnersExecute(r ApiGetPartnersRequest) ([]Partner, *http.Response, error)

	/*
	GetSettlement Get settlement details

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param settlementId
	@return ApiGetSettlementRequest
	*/
	GetSettlement(ctx context.Context, settlementId int32) ApiGetSettlementRequest

	// GetSettlementExecute executes the request
	//  @return SettlementDetail
	GetSettlementExecute(r ApiGetSettlementRequest) (*SettlementDetail, *http.Response, error)

	/*
	ListCommissions List partner commissions

	Get all commissions with filtering and pagination

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListCommissionsRequest
	*/
	ListCommissions(ctx context.Context) ApiListCommissionsRequest

	// ListCommissionsExecute executes the request
	//  @return CommissionList
	ListCommissionsExecute(r ApiListCommissionsRequest) (*CommissionList, *http.Response, error)

	/*
	ListSettlements List settlements

	Get all partner settlements (payouts)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListSettlementsRequest
	*/
	ListSettlements(ctx context.Context) ApiListSettlementsRequest

	// ListSettlementsExecute executes the request
	//  @return SettlementList
	ListSettlementsExecute(r ApiListSettlementsRequest) (*SettlementList, *http.Response, error)

	/*
	ListTransactions List partner transactions

	Get all tracked events (clicks, registrations, orders)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListTransactionsRequest
	*/
	ListTransactions(ctx context.Context) ApiListTransactionsRequest

	// ListTransactionsExecute executes the request
	//  @return TransactionList
	ListTransactionsExecute(r ApiListTransactionsRequest) (*TransactionList, *http.Response, error)

	/*
	PartnerLogin Partner API Key Authentication

	Authenticate using API key and receive JWT access token

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPartnerLoginRequest
	*/
	PartnerLogin(ctx context.Context) ApiPartnerLoginRequest

	// PartnerLoginExecute executes the request
	//  @return PartnerLogin
	PartnerLoginExecute(r ApiPartnerLoginRequest) (*PartnerLogin, *http.Response, error)
}

// PartnersAPIService PartnersAPI service
type PartnersAPIService service

type ApiCreatePartnerOrderRequest struct {
	ctx context.Context
	ApiService PartnersAPI
	partnerOrderCreation *PartnerOrderCreation
}

func (r ApiCreatePartnerOrderRequest) PartnerOrderCreation(partnerOrderCreation PartnerOrderCreation) ApiCreatePartnerOrderRequest {
	r.partnerOrderCreation = &partnerOrderCreation
	return r
}

func (r ApiCreatePartnerOrderRequest) Execute() (*PartnerOrderResponseData, *http.Response, error) {
	return r.ApiService.CreatePartnerOrderExecute(r)
}

/*
CreatePartnerOrder Create order via partner API

Create order on behalf of partner's user for deep integrations

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePartnerOrderRequest
*/
func (a *PartnersAPIService) CreatePartnerOrder(ctx context.Context) ApiCreatePartnerOrderRequest {
	return ApiCreatePartnerOrderRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PartnerOrderResponseData
func (a *PartnersAPIService) CreatePartnerOrderExecute(r ApiCreatePartnerOrderRequest) (*PartnerOrderResponseData, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PartnerOrderResponseData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnersAPIService.CreatePartnerOrder")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/orders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.partnerOrderCreation == nil {
		return localVarReturnValue, nil, reportError("partnerOrderCreation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.partnerOrderCreation
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["partnerIdAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Partner-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateReferralLinkRequest struct {
	ctx context.Context
	ApiService PartnersAPI
	referralLinkCreation *ReferralLinkCreation
}

func (r ApiCreateReferralLinkRequest) ReferralLinkCreation(referralLinkCreation ReferralLinkCreation) ApiCreateReferralLinkRequest {
	r.referralLinkCreation = &referralLinkCreation
	return r
}

func (r ApiCreateReferralLinkRequest) Execute() (*ReferralLink, *http.Response, error) {
	return r.ApiService.CreateReferralLinkExecute(r)
}

/*
CreateReferralLink Generate referral link

Create trackable referral link for campaigns

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateReferralLinkRequest
*/
func (a *PartnersAPIService) CreateReferralLink(ctx context.Context) ApiCreateReferralLinkRequest {
	return ApiCreateReferralLinkRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReferralLink
func (a *PartnersAPIService) CreateReferralLinkExecute(r ApiCreateReferralLinkRequest) (*ReferralLink, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReferralLink
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnersAPIService.CreateReferralLink")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/referral-links"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.referralLinkCreation == nil {
		return localVarReturnValue, nil, reportError("referralLinkCreation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.referralLinkCreation
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["partnerIdAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Partner-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCommissionRequest struct {
	ctx context.Context
	ApiService PartnersAPI
	commissionId int32
}

func (r ApiGetCommissionRequest) Execute() (*Commission, *http.Response, error) {
	return r.ApiService.GetCommissionExecute(r)
}

/*
GetCommission Get commission details

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param commissionId
 @return ApiGetCommissionRequest
*/
func (a *PartnersAPIService) GetCommission(ctx context.Context, commissionId int32) ApiGetCommissionRequest {
	return ApiGetCommissionRequest{
		ApiService: a,
		ctx: ctx,
		commissionId: commissionId,
	}
}

// Execute executes the request
//  @return Commission
func (a *PartnersAPIService) GetCommissionExecute(r ApiGetCommissionRequest) (*Commission, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Commission
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnersAPIService.GetCommission")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/commissions/{commissionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"commissionId"+"}", url.PathEscape(parameterValueToString(r.commissionId, "commissionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["partnerIdAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Partner-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPartnerAnalyticsRequest struct {
	ctx context.Context
	ApiService PartnersAPI
	startDate *string
	endDate *string
	groupBy *string
	serviceType *string
}

func (r ApiGetPartnerAnalyticsRequest) StartDate(startDate string) ApiGetPartnerAnalyticsRequest {
	r.startDate = &startDate
	return r
}

func (r ApiGetPartnerAnalyticsRequest) EndDate(endDate string) ApiGetPartnerAnalyticsRequest {
	r.endDate = &endDate
	return r
}

func (r ApiGetPartnerAnalyticsRequest) GroupBy(groupBy string) ApiGetPartnerAnalyticsRequest {
	r.groupBy = &groupBy
	return r
}

func (r ApiGetPartnerAnalyticsRequest) ServiceType(serviceType string) ApiGetPartnerAnalyticsRequest {
	r.serviceType = &serviceType
	return r
}

func (r ApiGetPartnerAnalyticsRequest) Execute() (*PartnerAnalytics, *http.Response, error) {
	return r.ApiService.GetPartnerAnalyticsExecute(r)
}

/*
GetPartnerAnalytics Get partner analytics

Retrieve analytics data for specified time period

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetPartnerAnalyticsRequest
*/
func (a *PartnersAPIService) GetPartnerAnalytics(ctx context.Context) ApiGetPartnerAnalyticsRequest {
	return ApiGetPartnerAnalyticsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PartnerAnalytics
func (a *PartnersAPIService) GetPartnerAnalyticsExecute(r ApiGetPartnerAnalyticsRequest) (*PartnerAnalytics, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PartnerAnalytics
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnersAPIService.GetPartnerAnalytics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/analytics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "", "")
	}
	if r.groupBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group_by", r.groupBy, "", "")
	} else {
		var defaultValue string = "day"
		r.groupBy = &defaultValue
	}
	if r.serviceType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "service_type", r.serviceType, "", "")
	} else {
		var defaultValue string = "all"
		r.serviceType = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["partnerIdAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Partner-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPartnerDetailsRequest struct {
	ctx context.Context
	ApiService PartnersAPI
	id int32
}

func (r ApiGetPartnerDetailsRequest) Execute() (*Partner, *http.Response, error) {
	return r.ApiService.GetPartnerDetailsExecute(r)
}

/*
GetPartnerDetails Get partner details

Get detailed information about a partner

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiGetPartnerDetailsRequest
*/
func (a *PartnersAPIService) GetPartnerDetails(ctx context.Context, id int32) ApiGetPartnerDetailsRequest {
	return ApiGetPartnerDetailsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Partner
func (a *PartnersAPIService) GetPartnerDetailsExecute(r ApiGetPartnerDetailsRequest) (*Partner, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Partner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnersAPIService.GetPartnerDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPartnerProfileRequest struct {
	ctx context.Context
	ApiService PartnersAPI
}

func (r ApiGetPartnerProfileRequest) Execute() (*PartnerProfile, *http.Response, error) {
	return r.ApiService.GetPartnerProfileExecute(r)
}

/*
GetPartnerProfile Get authenticated partner profile

Retrieve current partner information including commission rates and statistics

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetPartnerProfileRequest
*/
func (a *PartnersAPIService) GetPartnerProfile(ctx context.Context) ApiGetPartnerProfileRequest {
	return ApiGetPartnerProfileRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PartnerProfile
func (a *PartnersAPIService) GetPartnerProfileExecute(r ApiGetPartnerProfileRequest) (*PartnerProfile, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PartnerProfile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnersAPIService.GetPartnerProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/me"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["partnerIdAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Partner-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPartnersRequest struct {
	ctx context.Context
	ApiService PartnersAPI
	categoryId *int32
	type_ *string
	page *int32
	perPage *int32
}

func (r ApiGetPartnersRequest) CategoryId(categoryId int32) ApiGetPartnersRequest {
	r.categoryId = &categoryId
	return r
}

func (r ApiGetPartnersRequest) Type_(type_ string) ApiGetPartnersRequest {
	r.type_ = &type_
	return r
}

// Page number for pagination
func (r ApiGetPartnersRequest) Page(page int32) ApiGetPartnersRequest {
	r.page = &page
	return r
}

// Number of items per page
func (r ApiGetPartnersRequest) PerPage(perPage int32) ApiGetPartnersRequest {
	r.perPage = &perPage
	return r
}

func (r ApiGetPartnersRequest) Execute() ([]Partner, *http.Response, error) {
	return r.ApiService.GetPartnersExecute(r)
}

/*
GetPartners Search partners

List partners (diagnostics, hospitals, discount partners)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetPartnersRequest
*/
func (a *PartnersAPIService) GetPartners(ctx context.Context) ApiGetPartnersRequest {
	return ApiGetPartnersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []Partner
func (a *PartnersAPIService) GetPartnersExecute(r ApiGetPartnersRequest) ([]Partner, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Partner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnersAPIService.GetPartners")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.categoryId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category_id", r.categoryId, "", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "", "")
	} else {
		var defaultValue int32 = 10
		r.perPage = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSettlementRequest struct {
	ctx context.Context
	ApiService PartnersAPI
	settlementId int32
}

func (r ApiGetSettlementRequest) Execute() (*SettlementDetail, *http.Response, error) {
	return r.ApiService.GetSettlementExecute(r)
}

/*
GetSettlement Get settlement details

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param settlementId
 @return ApiGetSettlementRequest
*/
func (a *PartnersAPIService) GetSettlement(ctx context.Context, settlementId int32) ApiGetSettlementRequest {
	return ApiGetSettlementRequest{
		ApiService: a,
		ctx: ctx,
		settlementId: settlementId,
	}
}

// Execute executes the request
//  @return SettlementDetail
func (a *PartnersAPIService) GetSettlementExecute(r ApiGetSettlementRequest) (*SettlementDetail, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SettlementDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnersAPIService.GetSettlement")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/settlements/{settlementId}"
	localVarPath = strings.Replace(localVarPath, "{"+"settlementId"+"}", url.PathEscape(parameterValueToString(r.settlementId, "settlementId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["partnerIdAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Partner-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCommissionsRequest struct {
	ctx context.Context
	ApiService PartnersAPI
	status *string
	startDate *string
	endDate *string
	page *int32
	perPage *int32
}

func (r ApiListCommissionsRequest) Status(status string) ApiListCommissionsRequest {
	r.status = &status
	return r
}

func (r ApiListCommissionsRequest) StartDate(startDate string) ApiListCommissionsRequest {
	r.startDate = &startDate
	return r
}

func (r ApiListCommissionsRequest) EndDate(endDate string) ApiListCommissionsRequest {
	r.endDate = &endDate
	return r
}

func (r ApiListCommissionsRequest) Page(page int32) ApiListCommissionsRequest {
	r.page = &page
	return r
}

func (r ApiListCommissionsRequest) PerPage(perPage int32) ApiListCommissionsRequest {
	r.perPage = &perPage
	return r
}

func (r ApiListCommissionsRequest) Execute() (*CommissionList, *http.Response, error) {
	return r.ApiService.ListCommissionsExecute(r)
}

/*
ListCommissions List partner commissions

Get all commissions with filtering and pagination

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListCommissionsRequest
*/
func (a *PartnersAPIService) ListCommissions(ctx context.Context) ApiListCommissionsRequest {
	return ApiListCommissionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CommissionList
func (a *PartnersAPIService) ListCommissionsExecute(r ApiListCommissionsRequest) (*CommissionList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CommissionList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnersAPIService.ListCommissions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/commissions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "", "")
	} else {
		var defaultValue int32 = 50
		r.perPage = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["partnerIdAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Partner-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListSettlementsRequest struct {
	ctx context.Context
	ApiService PartnersAPI
	status *string
	page *int32
}

func (r ApiListSettlementsRequest) Status(status string) ApiListSettlementsRequest {
	r.status = &status
	return r
}

func (r ApiListSettlementsRequest) Page(page int32) ApiListSettlementsRequest {
	r.page = &page
	return r
}

func (r ApiListSettlementsRequest) Execute() (*SettlementList, *http.Response, error) {
	return r.ApiService.ListSettlementsExecute(r)
}

/*
ListSettlements List settlements

Get all partner settlements (payouts)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListSettlementsRequest
*/
func (a *PartnersAPIService) ListSettlements(ctx context.Context) ApiListSettlementsRequest {
	return ApiListSettlementsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SettlementList
func (a *PartnersAPIService) ListSettlementsExecute(r ApiListSettlementsRequest) (*SettlementList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SettlementList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnersAPIService.ListSettlements")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/settlements"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["partnerIdAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Partner-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListTransactionsRequest struct {
	ctx context.Context
	ApiService PartnersAPI
	eventType *string
	startDate *string
	endDate *string
	page *int32
	perPage *int32
}

func (r ApiListTransactionsRequest) EventType(eventType string) ApiListTransactionsRequest {
	r.eventType = &eventType
	return r
}

func (r ApiListTransactionsRequest) StartDate(startDate string) ApiListTransactionsRequest {
	r.startDate = &startDate
	return r
}

func (r ApiListTransactionsRequest) EndDate(endDate string) ApiListTransactionsRequest {
	r.endDate = &endDate
	return r
}

func (r ApiListTransactionsRequest) Page(page int32) ApiListTransactionsRequest {
	r.page = &page
	return r
}

func (r ApiListTransactionsRequest) PerPage(perPage int32) ApiListTransactionsRequest {
	r.perPage = &perPage
	return r
}

func (r ApiListTransactionsRequest) Execute() (*TransactionList, *http.Response, error) {
	return r.ApiService.ListTransactionsExecute(r)
}

/*
ListTransactions List partner transactions

Get all tracked events (clicks, registrations, orders)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListTransactionsRequest
*/
func (a *PartnersAPIService) ListTransactions(ctx context.Context) ApiListTransactionsRequest {
	return ApiListTransactionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TransactionList
func (a *PartnersAPIService) ListTransactionsExecute(r ApiListTransactionsRequest) (*TransactionList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TransactionList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnersAPIService.ListTransactions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/transactions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.eventType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event_type", r.eventType, "", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate, "", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate, "", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "", "")
	} else {
		var defaultValue int32 = 50
		r.perPage = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["partnerIdAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Partner-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPartnerLoginRequest struct {
	ctx context.Context
	ApiService PartnersAPI
	partnerLogin *PartnerLogin
}

func (r ApiPartnerLoginRequest) PartnerLogin(partnerLogin PartnerLogin) ApiPartnerLoginRequest {
	r.partnerLogin = &partnerLogin
	return r
}

func (r ApiPartnerLoginRequest) Execute() (*PartnerLogin, *http.Response, error) {
	return r.ApiService.PartnerLoginExecute(r)
}

/*
PartnerLogin Partner API Key Authentication

Authenticate using API key and receive JWT access token

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPartnerLoginRequest
*/
func (a *PartnersAPIService) PartnerLogin(ctx context.Context) ApiPartnerLoginRequest {
	return ApiPartnerLoginRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PartnerLogin
func (a *PartnersAPIService) PartnerLoginExecute(r ApiPartnerLoginRequest) (*PartnerLogin, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PartnerLogin
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PartnersAPIService.PartnerLogin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/partners/auth/login"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.partnerLogin == nil {
		return localVarReturnValue, nil, reportError("partnerLogin is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.partnerLogin
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["partnerIdAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Partner-ID"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
